.wrapper{
    overflow: hidden;
    min-width: 1140px;
}
.container {
    margin: 0 auto;
    max-width: 1140px;
}
body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    background: url(./img/1.png) no-repeat top center,
     #001821 url(./img/2.png) no-repeat bottom center;
    font-size: 14px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    margin-bottom: 116px;
    position: relative;
    justify-content: space-between;
    
}
.header .logo {
    display: block;
    width: 85px;
    height: 36px;
    margin-top: -12px;

}
.header .menu {
    margin-left: -390px;
    text-decoration: none;
}
.header .contacts {
    text-align: right;
    font-style:normal;
}
.menu_item {
    display: inline-block;
    margin-right: 50px;
}
.menu-link {
    font-size: 14px;
    text-decoration: none;
}
.menu__list{
    top: 8px;
    left: 763px;
}
.menu-link:hover {
    color: #dfb56d;
}
.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}
.contacts__info{
    font-size: 13px;
    margin-top: -6px;

}
.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: none;
    color: #dfb56d;
} 

.hello__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 1.4em;
    color: #FFFFFF;
    max-width: 510px;
}
.hello_text {
    color: #fff;
    margin: 25px 0;
    font-size: 18px;
}

.hello__button {
    display: inline-block;
    padding: 19px 40px;
    background: #F5170E;
    border-radius: 35px;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 5px;
}
.promo {
    margin-top: 245px;
}
.promo__list, .promo_item {
    margin: 0;
    padding: 0;
    list-style: none;
}
.promo__list {
    gap: 25px;
    display: flex;
    margin-top: 52px;

}
.card__content{
    background-color: #fff;
    padding: 20px;
    color: #303030;
    border-radius: 0px 0px 5px 5px;

}
.card__title {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1em;
    margin-top: 13px;

}
.title{
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 49px;  
}
.news {
    margin-top: 134px;
}
.news_wrapper {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.card__item .info {
    font-size: 16px;
    line-height: 20px;
    text-align:center;
    display:flex;
    align-items: center;

}
.card__item .info--date {
    margin-right: 16px;
}
.card__item .info img{
    margin-right: 18px;

}
.card__item .info--type {
    margin-left: 15px;
}
.title .Social-list {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    margin-top: 100px;
    width: 36px;
}
.card__image img{
    display: block; 
    height:auto;
    width:100%;
}
.card__item img{
    display: flex;
    align-items: center;
    color: #666666
}
.card__trips{
    position: relative;
}
.card__content_news {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 30px;

}
.card__title--news {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-top: 14px;
}
.description__news {
    color: white;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 27px;    
}

.card__info{
    display: flex;
}
.description {
    color: #303030;
    font-size: 14px;
    line-height: 150%;
    margin-top: 22px;

}
.button--secondary {
  color: #F5170E;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #F5170E;
  box-sizing: border-box;
  border-radius: 35px;
  background: white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 35px;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
}
.button--red {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 16px 30px;
    background: #F5170E;
    border-radius: 35px;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    margin-top: 9px;
}
.button--white {
    color: #F5170E;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 16px 30px;
    background: #FFFFFF;
    border-radius: 35px;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    border: 1px solid #F5170E;
    margin-top: 9px;
}
.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 53px;
    font-size: 16px;
}
.pages .pages__item {
    display: inline-block;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
}
.pages .pages__item:hover {
    background-color: #fff;
    color: #F5170E;
}
.pages__info {
}
.card__offers {
    position: relative;
}
.card__offers__bottom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color:black;
    padding: 59px 80px;
}

.description__offers {
    max-width: 492px;
    font-size: 16px;
    line-height: 27px;
}

.card__pages {
    display: flex;
    align-items: center;
}

.social-list {
    display: flex;
    justify-content: space-between;
}
.social__item {
    display: inline-block;
    margin-right: 10px;
}
.social__link {

}
.card_background_image img {
    display: block;
    width: 100%;
    height: auto;
}
.card_background_image {
    margin-left: 355px;
    position: relative;
    z-index: 2;

}
.about .card__image {
    position: absolute;
    z-index: 1;
    margin-top: -110px;

}
.about {
    margin-top: 253px;
    margin-bottom: 60px;
}
.title_black {
    margin-top: 0;
    margin-bottom: 35px;

}
.about .button--red {
    margin-top: 20px;
    padding: 16px 40px;
}
