body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    background:#001821;
    font-size: 14px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.header__container {
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header {
    margin-bottom: 150px;
}
.header .logo {
    display: block;
    width: 85px;
    height: 36px;
    left: 390px;
    top: 29px;
}
.header .menu {

}
.header .contacts {
    text-align: right;
    font-style:normal;
}
.menu_item {
    display: inline-block;
    margin-right: 50px;
}
.menu-link {
    font-size: 14px;
    text-decoration: none;
}
.menu-link:hover {
    color: #dfb56d;
}
.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}
.contacts__info{
    font-size: 13px;
}
.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #dfb56d;
}
.hello {
    max-width: 400px;
}
.hello__title {
    max-width: 511px;
    font-weight: bold;
    font-size: 52px;
    line-height: 1.2em;
    color: #FFFFFF;
}
.hello_text {
    color: #fff;
    margin: 30px 0;
}

.hello__button {
    display: inline-block;
    padding: 10px 30px;
    background: #F5170E;
    border-radius: 35px;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}
.promo {
    margin-top: 200px;
}
.promo__list, .promo_item {
    margin: 0;
    padding: 0;
    list-style: none;
}
.promo__list {
    display: flex;
    gap: 15px;
}
.card__content{
    background-color: #fff;
    padding: 15px;
    color: #303030;
    border-radius: 0px 0px 5px 5px;
}
.news_wrapper {
    display: flex;
    gap: 15px;
}
.num_pages {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
}