.wrapper{
    overflow: hidden;
    min-width: 1100px;
}
.container {
    width: 940px;
    margin: 0 auto;
}
body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    background:#001821;
    font-size: 14px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    background-image: url(./img/1.png);
}
a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header {
    margin-bottom: 156px;
    position: relative;
    height: 120px;
    justify-content: space-between;
}
.header .logo {
    display: block;
    width: 85px;
    height: 36px;
    left: 390px;
    top: 29px;
}
.header .menu {

}
.header .contacts {
    text-align: right;
    font-style:normal;
}
.menu_item {
    display: inline-block;
    margin-right: 50px;
}
.menu-link {
    font-size: 14px;
    text-decoration: none;
}
.menu-link:hover {
    color: #dfb56d;
}
.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}
.contacts__info{
    font-size: 13px;
}
.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #dfb56d;
} 

.hello__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 1.2em;
    color: #FFFFFF;
    max-width: 510px;
}
.hello_text {
    color: #fff;
    margin: 30px 0;
}

.hello__button {
    display: inline-block;
    padding: 10px 30px;
    background: #F5170E;
    border-radius: 35px;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}
.promo {
    margin-top: 200px;
}
.promo__list, .promo_item {
    margin: 0;
    padding: 0;
    list-style: none;
}
.promo__list {
    gap: 15px;
    display: flex;
}
.card__content{
    background-color: #fff;
    padding: 15px;
    color: #303030;
    border-radius: 0px 0px 5px 5px;
}
.card__title {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1em;
}
.title{
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 49px;  
}
.news_wrapper {
    display: flex;
    gap: 15px;
}
.card__item .info {
    font-size: 16px;
    line-height: 20px;
    text-align:center;
    display:flex;
    align-items: center;
}
.card__item .info img{
    margin-right: 10px;
}
.card__item .info--type {
    margin-left: 15px;
}
.title .Social-list {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    margin-top: 100px;
    width: 36px;
}
.card__image img{
    display: block; 
    height:auto;
}
.card__item img{
    display: flex;
    align-items: center;
    color: #666666
}
.card__trips{
    position: relative;
}
.card__content_news {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 30px;

}
.card__title--news {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1em;
    margin-top: 30px;
}
.description__news {
    color: white;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 15px;
}

.card__info{
    display: flex;
}
.description {
    color: #303030;
    font-size: 14px;
    line-height: 150%;
}
.button--secondary {
  color: #F5170E;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #F5170E;
  box-sizing: border-box;
  border-radius: 35px;
  background: white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 35px;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
}
.button--red {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 10px 30px;
    background: #F5170E;
    border-radius: 35px;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}
.button--white {
    color: #F5170E;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 10px 30px;
    background: #FFFFFF;
    border-radius: 35px;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    border: 1px solid #F5170E;
}
/*
.info--pages {
    height: 260px;
}
.card__pages {
    display: flex;
    justify-content: center;
    padding: 60px;
    justify-content: space-evenly;
    margin: 260px;
    cursor: pointer;
}
*/
.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.pages__info {
    margin-right: 19px;
}
.card__offers {
    position: relative;
}
.card__offers__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color:black;
    padding: 20px;
}

.description__offers {
    max-width: 492px;
    font-size: 16px;
    line-height: 27px;
}

.card__pages {
    display: flex;
    align-items: center;
}

.social-list {
    display: flex;
    justify-content: space-between;
}
.social__item {
    display: inline-block;
    margin-right: 10px;
}
.social__link {

}
.card_background_image img {
    display: block;
    width: 100%;
    height: auto;
}
.card_background_image {
    margin-left: 30%;
    position: relative;
    z-index: 2;
}
.about .card__image {
    position: absolute;
    z-index: 1;
    margin-top: -110px;

}
.about {
    margin-top: 120px;
    margin-bottom: 60px;
}
